.card {
    border: none !important;
    border-radius: 20px !important;    
}

.rounded-top{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.img-fluid{
    height: 50vh;
}

@media (max-width: 578px) {
    .img-fluid{
        height: 30vh;
    }
}

@media (min-width: 768px) {
    .img-fluid{
        height: 40vh;
    }
}

@media (min-width: 1080px) {
    .img-fluid{
        height: 60vh;
    }
}

.btn-dark, .btn{
    height: 4rem !important;
    width: 4rem;
    border-radius: 2rem !important;    
}