.card {
    border: none !important;
    border-radius: 20px !important;    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-text-title{
    height: 15rem;
}

.rounded-top{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.img-container {
    height: 50vh;     
}

.img-fluid {
    width: 100%;
    height: 100%;
    scale: 0.7;
}

@media (min-width: 425px) {
    .img-fluid{
        height: 50vh;
       
    }
    .card{
        width: 20rem;
    }
}

.btn-dark, .btn, .btn-white, .btn-white:hover {
    height: 3rem !important;
    width: 3rem;
    border-radius: 1.5rem !important;  
    border: 1px solid black;  
}

