.card {
    border: none !important;
    border-radius: 20px !important;    
}

.rounded-top{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

@media (min-width: 425px) {
    .img-fluid{
        height: 35vh;
    }
    .card{
        width: 20rem;
    }
}

.btn-dark, .btn{
    height: 4rem !important;
    width: 4rem;
    border-radius: 2rem !important;    
}